.search-icon {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('/001-search.png');
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 30px;
  /* background-color: white; */
  text-transform: capitalize;
}

.city-selected {
  position: relative;
}
.city-selected::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: url('/icons8-done.svg') no-repeat;
  background-position: calc(100% - 10px) center;
  right: 0;
  top: 0;
  opacity: 0.3;
}

.close-icon {
  width: 16px;
}
