@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #0049be; /* Custom thumb color */
  border-radius: 50%;
  cursor: pointer;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background-color: #0000004e; /* Custom thumb color */
  border-radius: 5px;
  outline: none;
}
