@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 1rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  font-size: 0.8rem;
  background-color: #fafafa;
}
